<ng-container *ngIf="type === 'hidden'">
  <input [type]="type" [id]="id" [required]="required" [attr.pattern]="pattern || null" [disabled]="disabled">
</ng-container>

<ng-container *ngIf="type === 'radio'">
  <div class="form-element {{width}}">
    <div class="form-element-label" *ngIf="label">
      <label>{{ label }}</label>
    </div>
    <div class="form-element-input">
      <ng-container *ngFor="let option of options">
        <label>{{ option.label }}<input [name]="name" [type]="type" [id]="id" [required]="required" [attr.pattern]="pattern || null" [disabled]="disabled"></label>
      </ng-container>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="type === 'checkbox'; else elseBlock">
  <div class="form-element {{width}}">
    <div class="form-element-label" *ngIf="label">
      <label>{{ label }}</label>
    </div>
    <div class="form-element-input">
      <ng-container *ngFor="let option of options">
        <label>{{ option.label }}<input [name]="name" [type]="type" [id]="id" [required]="required" [attr.pattern]="pattern || null" [disabled]="disabled"></label>
      </ng-container>
    </div>
  </div>
</ng-container>

<ng-template #elseBlock>
  <div class="form-element {{width}}" [ngClass]="{'hidden': type === 'hidden'}">
    <div class="form-element-label" *ngIf="label">
      <label>{{ label }}</label>
    </div>
    <div class="form-element-input">
      <input [type]="type" [attr.placeholder]="placeholder || null" [id]="id" [required]="required" [attr.pattern]="pattern || null" [disabled]="disabled">
    </div>
  </div>
</ng-template>
