.form{
  display: flex;
  flex-wrap: wrap;
  gap: 1%;
  width: 100%;
}

.full-width {
  width: 100%;
}

.half-width {
  width: 49.5%;
}

.one-third-width {
  width: 32.65%;
}

.one-quarter-width {
  width: 24.25%;
}