<form class="form" #formContainer>
  <app-form-input *ngFor="let field of formFields"
    [label]="field.label"
    [type]="field.type"
    [placeholder]="field.placeholder"
    [name]="field.name"
    [id]="field.name"
    [required]="field.required"
    [minlength]="field.minlength"
    [maxlength]="field.maxlength"
    [pattern]="field.pattern"
    [disabled]="field.disabled"
    [width]="field.width">
  </app-form-input>
  
  <button class="btn btn-primary" (click)="submitForm(formContainer, $event)">Submit</button>
</form>