.form-buttons{
  align-items: center;
  display: flex;
  gap: 1rem;
}

.form-button{
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 2.5rem;
  padding: 0;
  width: 2.5rem;
}

.form-button svg{
  fill: rgb(84, 84, 248);
  height: 2.5rem;
  width: 2.5rem;
}

