<div class="crud">
  <app-table [tableStructure]="tableStructure" [endpoint]="endpoint" />
  <ng-container *ngIf="formStructure.tabs; else noTabs">
    <app-form-tabs>
      <app-form-tabs-items tab-menu-items [tabs]="formStructure.tabs"></app-form-tabs-items>
      <app-form-buttons tab-menu-buttons></app-form-buttons>
      <app-form tab-content [formStructure]="formStructure.inputs" [endpoint]="endpoint"/>
    </app-form-tabs>
  </ng-container>
  <ng-template #noTabs>
    <app-form [formStructure]="formStructure.inputs" [endpoint]="endpoint"/>
  </ng-template>
</div>